// var color 
$colors:(
    'color-orange1' : #fa5238,
    'color-orange2' :#fb4226,
    'color-orange3' :#ec9385,
    'color-black' : #333333,
    'color-grey' : #9b9b9b,
    'color-white': #ffffff,
    'color-green':#00ac4d,
);


// var font-size
$fs:(
    'fs-01': 13px,
    'fs-02': 15px,
    'fs-03': 20px,
    'fs-04': 24px,
    'fs-05': 36px,
    'fs-06': 40px
);

$fw:(
    'fw-1':100,
    'fw-2':200,
    'fw-3':300,
    'fw-4':400,
    'fw-5':500
);
